
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

*.db
*.sqlite
*.sqlite3
pomodoro_data.db
pomus_data.json
*.sock

.idea/
.vscode/
*.swp
*.swo
*~
tempCodeRunnerFile.py
*.code-workspace

.DS_Store
Thumbs.db